# blacklist all
*

# whitelist things to copy
!ChangeLog.md
!CMakeLists.txt
!netcdf.cmake
!README.md
!doc/
!docker/
!src/
!test/
!tool/
!TChem-atm

# scenarios are whitelisted, but out/ subdirs are blacklisted again
!scenarios/1_urban_plume/
scenarios/1_urban_plume/out
!scenarios/1_urban_plume2/
scenarios/2_urban_plume2/out
!scenarios/3_condense
scenarios/3_condense/out
!scenarios/4_chamber
scenarios/4_chamber/out
!scenarios/5_coag_brownian
scenarios/5_coag_brownian/out
!scenarios/6_camp
scenarios/6_camp/out
