**/.DS_Store
CMakeCache.txt
CMakeFiles/
build/
doc/ChangeLog.html
doc/README.html
doc/condensation/average.pdf
doc/condensation/condense.pdf
doc/deposition/deposition.pdf
doc/html/
doc/latex/
doc/partmc_modules.gv
doc/partmc_modules.pdf
doc/*.tmp
scenarios/1_urban_plume/out/
scenarios/2_urban_plume2/out/
scenarios/3_condense/start/
scenarios/3_condense/spec/
scenarios/3_condense/temp/
scenarios/3_condense/out/
scenarios/4_chamber/out/
