**/.DS_Store
CMakeCache.txt
CMakeFiles/
build/
doc/ChangeLog.html
doc/README.html
doc/condensation/average.pdf
doc/condensation/condense.pdf
doc/deposition/deposition.pdf
doc/html/
doc/partmc_modules.gv
doc/partmc_modules.pdf
scenarios/1_urban_plume/out/
scenarios/2_urban_plume2/out/
scenarios/3_condense/start/
scenarios/3_condense/spec/
scenarios/3_condense/temp/
scenarios/3_condense/out/
scenarios/4_chamber/out/
scenarios/7_freezing/aero_init_tools
scenarios/7_freezing/draw.py
scenarios/7_freezing/freezing_run.sh
scenarios/7_freezing/freezing_timing.txt
scenarios/7_freezing/hist.py 
scenarios/7_freezing/make_pres.py  
scenarios/7_freezing/make_temp.py 
scenarios/7_freezing/mass_to_volume.py
scenarios/7_freezing/volume_to_mass.py
scenarios/7_freezing/plot_temp1.py
scenarios/7_freezing/run_part.spec
scenarios/7_freezing/run_scripts 
scenarios/7_freezing/visual_tools
