img.inline[src="icon_trail.png"]{
  width:15px;
  margin-bottom:5px;
}
img[src="schematic_typical_model.png"]{
  width:500px;
}
img[src="schematic_CAMP_structure.png"]{
  width:500px;
}
img[src="schematic_json_objects.png"]{
  width:500px;
}
img[src="modal_aero_rep.png"]{
  width:500px;
}
img[src="binned_aero_rep.png"]{
  width:500px;
}
img[src="single_particle_aero_rep.png"]{
  width:500px;
}
