name:  cloud-parcel

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the testing docker image
      run: docker build -f Dockerfile.cloud_parcel -t partmc-cloud-parcel .
    - name: Run the tests in the docker container
      run: docker run -t partmc-cloud-parcel bash -c 'cd /build; make test'
    - name: Generate and upload coverage report
      uses: ./.github/actions/codecov
